       
.blog {
    display: flex;
    margin-top: 140px;
}

.blogs {
    display: flex;
    padding: 10px;
}

.blogs img {
    width: 494px;
    height: 306px;
    padding: 10px;
    border-radius: 20px;

}

.blogs p {
    font-size: 16px;
    width: 494px;
    display: block;
    padding: 10px;
    color: rgb(48, 45, 45);
}

.related {
    width: 382px;
    height: 100%;
    background: #073d58;
    margin-top: 25px;
}

.related h3 {
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.content {
    display: flex;
    margin: 20px;
}

.content img {
    width: 102px;
    height: 70px;
}

.content p {
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
    }
    .blogs {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .blogs img {
    width: 90%;
    min-width: 300px;

}

.blogs p {
    font-size: 18px;
    width: 80%;
}

.related {
    width: 90%;
    height: 100%;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 5%;
}
.form button {
    width: 40%;
    height: 40px;

}

.form input {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}
    
}
