       
.blog {
    margin-top: 140px;
    max-width: 600px;
    margin-right: 40px;

}

.blo {
    display: flex;
    padding: 10px;
    flex-direction: row;
    padding-right: 30px;
}


.blogs img {
    width: 494px;
    height: 306px;
    padding: 10px;
    border-radius: 20px;

}

.blogs p {
    font-size: 16px;
    width: 494px;
    display: block;
    padding: 10px;
    color: rgb(48, 45, 45);
}

.related {
    width: 382px;
    height: 100%;
    background: #073d58;
    margin-top: 25px;
    visibility: hidden;
}

.related h3 {
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.content {
    display: flex;
    margin: 20px;
}

.content img {
    width: 102px;
    height: 70px;
}

.content p {
    font-size: 18px;
    color: #fff;
    padding: 10px;
}
#comment {
    background-color: #1573a1;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#like {
    background-color: rgb(19, 206, 81);
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.ctext {
    font-size: 14px;
    background-color: #d3d3d3;
    margin: 10px;
    width: 30px;

}

@media only screen and (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
    }
    .blogs {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .blogs img {
    width: 90%;
    min-width: 300px;

}

.blogs p {
    font-size: 18px;
    width: 80%;
}

.related {
    width: 90%;
    height: 100%;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 5%;
}
.form button {
    width: 40%;
    height: 40px;

}

.form input {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}
    
}
