       .login {
            display: flex;
        }
        section form {
    background-color: #073d58;
    width: 500px;
    padding: 30px;
    margin: 120px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}

section form input {
    border-radius: 10px;
    height: 40px;
    width: 400px;
    border: none;
    align-items: center;

}

section form label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

section form button {
    width: 300px;
    height: 45px;
    margin-left: 40px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background-color: #1077b0;
    border: none;
    cursor: pointer;
}
.sign {
    display: flex;
}

.sign p {
    margin-top: 20px;
    font-size: 17px;
    width: fit-content;
}

#sign {
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

form #email_error,
form #pass_error {
    /* margin: 5px auto; */
    width: 345px;
    font-size: 18px;
    color: #f0e8e8;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

h3 {
    text-align: center;
    color: #fff;
}


        @media only screen and (max-width: 768px) {
    .login {
        flex-direction: column;
        align-items: center;
    }
    .login form {
        width: 90%;
        align-self: center;
        margin-right: 7%;

    }
    
    .login form input {
    border-radius: 10px;
    height: 40px;
    width: 86%;
    border: none;
}

.login form button {
    width: 60%;
    height: 45px;
    margin-left: 30px;
    border-radius: 20px;
    margin-top: 15px;
}
    
}