table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    margin-top: 100px;
}

th,td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
section {
    margin-top: 100px;
    display: flex;
    margin-left: 30px;
    padding: 20px;
}
.button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    background-color: #073d58;

}

button a {
    color: white;
}
.Red {
    background-color: rgb(231, 55, 55);
}
.Green {
    background-color: rgb(83, 221, 83);
}